---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <div>test</div>
    <div class="flex justify-between">
      <div class="text-teal-500">1</div>
      <div class="text-teal-500">4</div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
